<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>TopJava</display-name>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.UserServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mealServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.MealServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealServlet</servlet-name>
        <url-pattern>/meals</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorizationServlet</servlet-name>
        <servlet-class>ru.javawebinar.topjava.web.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authorizationServlet</servlet-name>
        <url-pattern>/authorization</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mealList</servlet-name>
        <jsp-file>/WEB-INF/jsp/meals.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealList</servlet-name>
        <url-pattern>/meals.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>mealForm</servlet-name>
        <jsp-file>/WEB-INF/jsp/mealForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mealForm</servlet-name>
        <url-pattern>/mealForm.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>notFound</servlet-name>
        <jsp-file>/WEB-INF/jsp/exceptionNotFound.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>notFound</servlet-name>
        <url-pattern>/notFound.jsp</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>ru.javawebinar.topjava.util.exception.NotFoundException</exception-type>
        <location>/WEB-INF/jsp/exceptionNotFound.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>numberFormatError</servlet-name>
        <jsp-file>/WEB-INF/jsp/exceptionNumberFormat.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>numberFormatError</servlet-name>
        <url-pattern>/numberError.jsp</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.NumberFormatException</exception-type>
        <location>/WEB-INF/jsp/exceptionNumberFormat.jsp</location>
    </error-page>

</web-app>